# core llm + langchain ecosystem
langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-openai>=0.1.0
streamlit>=1.60.0
# OpenAI
openai>=1.30.0

# Tavily search Tool
tavily-python>=0.3.0

# Web Scraping
beautifulsoup4>=4.12.0
requests>=2.31.0
lxml>=5.0.0

# Environment variables
python-dotenv>=1.0.0

# Async support(import for agents/tools)
aiohttp>=3.9.0

# data handling 
pandas>=2.0.0

# token counting
tiktoken>=0.6.0

# Logging/debugging
rich>=13.7.0

# retry + robustness
tenacity>=8.2.0

# json handling imporvements
orjson>=3.9.0

# typing support 
pydantic>=2.5.0

# optional (for advanced parsing/html cleanup)
html5lib>=1.1.0

